.no-text-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cl-borderless:active, .cl-borderless:focus {
    outline: 0;
    border: none;
}

/* Styling for variant prop */

.Mui-drop-default {
    background-color: white;
}

.Mui-drop-default:hover {
    cursor: pointer;
}

.Mui-drop-light {
    transition-duration: 0.4s;
    border: none;
}

.Mui-drop-light:hover {
    background-color: #eee;
    cursor: pointer;
}

.Mui-drop-dark {
    transition-duration: 0.4s;
    background-color: #1f1f1f;
    color: white;
}

.Mui-drop-dark:hover {
    background-color: #eee;
    color: black;
    cursor: pointer;
}

.Mui-drop-custom {
    transition-duration: 0.4s;
}

.Mui-drop-custom {
    cursor: pointer;
}